/**
 *  Styles for DOM Rendering
 *  by Una Ada <una@anarchy.website>
 *  June 4, 2021
 */

/*---- Override Agent Style --------------------------------------------------*/
body {
  margin: 0;
}

/*----- Game View ------------------------------------------------------------*/
gravity {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
gravity > viewarea {
  background-color: #999;
  border-radius: 10px;
  position: absolute;
}
gravity > celestial {
  background-color: #333;
  border-radius: 50%;
  position: absolute;
}
